<navigation></navigation>
<main role="main" class="container">

  <page-header content="vm.pageHeader"></page-header>

  <p>
    Showing measurements for device {{vm.deviceId}}
    </p>

  <p>
    Which measurement type shall be displayed: <select ng-model="typeFilter" ng-options="x for x in vm.measurementTypes"></select>
  </p>

  <table class="table">
    <thead>
      <th>Time</th>
      <th>Type</th>
      <th>Value</th>
    </thead>
    <tbody>
      <tr ng-repeat="item in vm.data | filter:typeFilter">
	<td>{{item.createdOn}}</td>
	<td>{{item.measurementType}}</td>
	<td>{{item.measurementValue}}</td>
      </tr>
    </tbody>
  </table>
    
  
  <footer-generic></footer-generic>

</main>
