<navigation></navigation>
<main role="main" class="container">

  <page-header content="vm.pageHeader"></page-header>


  <form>
    <div class="form-row">
	<div class="form-group col-lg-6">
	  <label for="name">Name</label>
	  <input type="text" class="form-control" id="name" placeholder="Name der Telefonnummer" ng-model="vm.input.name">
	</div>
	<div class="form-group col-lg-6">
	  <label for="phonenumber">Rufnummer</label>
	  <input type="text" class="form-control" id="phonenumber" placeholder="Die Telefonnummer" ng-model="vm.input.phonenumber">
	</div>
	</div>
      </form>
    <div class="row">
      <button type="button" class="btn btn-secondary">Speichern</button>
    </div>
  </div>

  <footer-generic></footer-generic>

</main>
